.stay{
    position: relative;
    top: -.8rem;
    left: 1rem;
    background-color: rgb(68, 0, 255);
    width: fit-content;
    padding: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .5rem;
    font-weight: 700;
    font-size: small;
    color: white;
}

.type {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-left: 1.5rem;
    color: rgb(85, 85, 85);
}

h3{
    font-family: Rubik;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(20,20,20);
    margin-left: 1.5rem;
}

.rating{
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.rating-number{
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin-right: .3rem !important;
    width: 1.5rem;
    height: 1.25rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: .1rem
}

img{
    height: auto;
}

